{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
  </div>
  {% endfor %}
{% endif %}

  {% if form.errors %}
  <div class="alert alert-danger m-1 p-2" role="alert">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {{ error|escape }}
      {% endfor %}
    {% endif %}
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          {{ error|escape }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}